body {
  align-items: center;
  background-color: #999;
  display: flex;
  height: 100vh;
  justify-content: center;
  width: 100vw;
}

#canvas {
  align-items: center;
  display: flex;
  height: 400px;
  justify-content: space-between;
  width: 900px;
}

#chart {
  background-color: #ebe5d0;
  border-radius: 8px;
  height: 400px;
  width: 400px;
}

#game {
  background-color: #111;
  border-radius: 8px;
  height: 400px;
  width: 400px;
}

#message {
  align-items: center;
  background-color: black;
  color: white;
  display: flex;
  font-family: -apple-system, BlinkMacSystemFont, sans-serif;
  font-size: 3em;
  height: 100vh;
  justify-content: center;
  left: 0;
  opacity: 0.5;
  position: absolute;
  top: 0;
  visibility: hidden;
  width: 100vw;
}
